$breakpoint-mobile-tablet: 768px;
$breakpoint-tablet-desktop: 1200px;
$breakpoint-desktop-content: 1440px;

@mixin mobile {
  @media (max-width: $breakpoint-mobile-tablet - 1px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-tablet-desktop) {
    @content;
  }
}